﻿@using Nwcl.DAP.Web.Common;
@using Nwcl.DAP.Web.Models;

@{
    Layout = "";
}

@model LoginViewModel

<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Modern admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities with bitcoin dashboard.">
    <meta name="keywords" content="admin template, modern admin template, dashboard template, flat admin template, responsive admin template, web app, crypto dashboard, bitcoin dashboard">
    <meta name="author" content="PIXINVENT">
    <title>
        NWCL DAP
    </title>

    <link rel="apple-touch-icon" href="~/Content/app-assets/images/ico/apple-icon-120.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/Scripts/app-assets/images/logo/NWCLLogoIcon.png">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Quicksand:300,400,500,700"
          rel="stylesheet">
    <link href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome.min.css"
          rel="stylesheet">
    <!-- BEGIN VENDOR CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/app-assets/css/vendors.css">
    <!-- END VENDOR CSS-->
    <!-- BEGIN MODERN CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/app-assets/css/app.css">
    <!-- END MODERN CSS-->
    <!-- BEGIN Page Level CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/app-assets/css/core/menu/menu-types/vertical-menu.css">
    <link rel="stylesheet" type="text/css" href="~/Content/app-assets/css/core/colors/palette-gradient.css">
    @*<link rel="stylesheet" type="text/css" href="~/Content/app-assets/css/pages/login-register.css">*@
    <!-- END Page Level CSS-->
    <link href="~/Content/CSS/Account/Login.css" rel="stylesheet" />
</head>
<body class="vertical-layout vertical-menu 1-column  bg-cyan bg-lighten-2 menu-expanded fixed-navbar"
      data-open="click" data-menu="vertical-menu" data-col="1-column">
    <!-- fixed-top-->
    <nav class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-without-dd-arrow fixed-top navbar-light navbar-shadow">
        <div class="navbar-wrapper">
            <div class="navbar-header">
                <ul class="nav navbar-nav flex-row">
                    <li class="nav-item mobile-menu d-md-none mr-auto"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="ft-menu font-large-1"></i></a></li>
                    <li class="nav-item">
                        <a class="navbar-brand" href="#">
                            <img alt="modern admin logo "class="full-height full-width"  src="~/Scripts/images/u54-2.png">
                        </a>
                    </li>
                    <li class="nav-item d-md-none">
                        <a class="nav-link open-navbar-container" data-toggle="collapse" data-target="#navbar-mobile"><i class="la la-ellipsis-v"></i></a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <section class="flexbox-container">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="col-md-4 col-lg-3 col-8 box-shadow-2 p-0">
                            <div class="card border-grey border-lighten-3 m-0">
                                <div class="card-header border-0 div-margin-bottom" >
                                    <div class="card-title text-center">
                                        <img  alt="modern admin logo " class="loogDAP" src="~/Scripts/images/loogDAP.png">
                                    </div>
                                    <p class="card-subtitle line-on-side text-muted text-center font-small-3 pt-1">
                                    </p>
                                </div>
                                <div class="card-content pt-0">
                                    <div class="card-body pt-0">
                                        <div class="warning">
                                            你的帐户并没有权限登入，详情请找系统管理员查询。<br/>
                                            Your account does not have access right, please query administrator for more details.
                                        </div>
                                        <div style="display:none;" id="AdCurrentUserName">@ViewData["adUserName"]</div>
                                        @*@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            <fieldset class="form-group position-relative has-icon-left">
                <!--
                <input type="text" class="form-control input-lg" id="user-name" placeholder="用户名"
                       tabindex="1" required data-validation-required-message="请输入用户名.">
                -->
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control input-lg", placeholder = "用户名", tabindex = "1", required = "true", data_validation_required_message = "请输入用户名" })
                <div class="form-control-position">
                    <i class="ft-user"></i>
                </div>
                <div class="help-block font-small-3"></div>
            </fieldset>
            <fieldset class="form-group position-relative has-icon-left">
                <!--
                <input type="password" class="form-control input-lg" id="password" placeholder="密码"
                       tabindex="2" required data-validation-required-message="请输入密码.">
                    -->
                @Html.PasswordFor(m => m.Password, new { @class = "form-control input-lg", placeholder = "密码", tabindex = "2", required = "true", data_validation_required_message = "请输入密码" })
                <div class="form-control-position">
                    <i class="la la-key"></i>
                </div>
                <div class="help-block font-small-3">
                    <label id="lable-pw"></label>
                </div>

                <button type="submit" class="btn  btn-block btn-info btn-lg">登入</button>
                <p class="card-subtitle line-on-side text-muted text-center font-small-3 pt-1">
                </p>
                <div class="form-group row div-margin-bottom" >
                    <div class="col-md-6 col-12 text-center text-md-left">
                        <fieldset></fieldset>
                    </div>
                    <div class="col-md-6 col-12 text-center text-md-right">
                    </div>
                </div>
            </fieldset>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        }*@


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <footer class="footer fixed-bottom footer-light navbar-border navbar-shadow">
        <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2">
            <span class="float-md-left d-block d-md-inline-block">
                © 新世界中国地产有限公司 @DateTime.Today.Year。 版权所有。                
                @*Copyright &copy; 2018 <span class="text-bold-800 grey darken-2 footer-span"
        target="_blank">New World China Land Limited</span>, All rights reserved.*@
            </span>
            @*<span class="float-md-right d-block d-md-inline-blockd-none d-lg-block">Hand-crafted & Made with <i class="ft-heart pink"></i></span>*@
        </p>
    </footer>
    @Scripts.Render("~/bundles/jquery")

    @Html.RenderScriptsCachedByLWT("~/Content/sweetalert/sweetalert.min.js")
    @Html.RenderStylesCachedByLWT("~/Content/sweetalert/sweetalert.css")

    <!-- BEGIN VENDOR JS-->
    <script src="~/Content/app-assets/vendors/js/vendors.min.js" type="text/javascript"></script>
    <!-- BEGIN VENDOR JS-->
    <!-- BEGIN PAGE VENDOR JS-->
    @*<script src="~/Content/app-assets/vendors/js/forms/validation/jqBootstrapValidation.js"
            type="text/javascript"></script>*@
    @*<script src="~/Content/app-assets/vendors/js/forms/icheck/icheck.min.js" type="text/javascript"></script>*@
    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN MODERN JS-->
    <script src="~/Content/app-assets/js/core/app-menu.js" type="text/javascript"></script>
    <script src="~/Content/app-assets/js/core/app.js" type="text/javascript"></script>
    <script src="~/Content/app-assets/js/scripts/customizer.js" type="text/javascript"></script>
    <!-- END MODERN JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    @*<script src="~/Content/app-assets/js/scripts/forms/form-login-register.js" type="text/javascript"></script>*@
    <!-- END PAGE LEVEL JS-->
</body>
</html>