﻿@model List<Nwcl.DAP.Web.Models.BreadcrumbViewModels>
<div class="content-header-left col-md-6 col-12 mb-2" id="function-title">
    @if (Model.Count > 0)
    {
        <h3 class="PageTitle"><span><i class="la @Model.Last().BeforeTitleIcon"></i></span> @Model.Last().Name <span><i class="la @Model.Last().AfterTitleIcon"></i></span></h3>
    }
    else
    {
        <h3 class="PageTitle">@ViewData["Title"]</h3>
    }
    <div class="row breadcrumbs-top">
    </div>
</div>
<div class="content-header-right col-md-6 col-12">
    <div class="btn-group float-md-right " role="group" aria-label="Button group with nested dropdown">
        <ol class="breadcrumb">
            @foreach (var item in Model)
            {
                if (item.Path == "#" || item.Seq == 1)
                {
                    <li class="breadcrumb-item">
                        <span>@item.Name</span>
                    </li>
                }
                else
                {
                    <li class="breadcrumb-item NavTail-all">
                        <a href="@item.Path">@item.Name</a>
                    </li>
                }

            }

            @if (Model.Count == 1 && ViewData["Path"] != null)
            {
                @Html.Raw(ViewData["Path"])
            }
        </ol>
    </div>
</div>
