﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NWCL DAP</title>

    @Styles.Render("~/Content/kendo/css")
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryVal")
    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/jsJson")
    @Scripts.Render("~/bundles/misc")

    <script src="~/Scripts/src/sweetalert.min.js"></script>
    <link href="~/Scripts/src/sweetalert.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.blockui.min.js"></script>
    <script src="~/Scripts/scripts/app.min.js"></script>
    <script src="~/Scripts/ui-blockui.min.js"></script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               @* @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div> 

            <div class="navbar-collapse collapse">
                @if (Session["username"] != null)
                {
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("NewForm", "NewForm", "Home", new { @class = "NewForm" })</li>
                    @*<li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                </ul>
                }
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content"style="margin-top:50px">
        @RenderBody()
        <hr />
        <footer>
            @*<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>*@
        </footer>
    </div>
   
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
