﻿@using Microsoft.AspNet.Identity
@using Nwcl.DAP.Web.Common.Resources;

@if (Request.IsAuthenticated)
{
    <li class="dropdown dropdown-user nav-item">
        <a class="dropdown-toggle nav-link dropdown-user-link" id="dropdown-user" href="#" data-toggle="dropdown">
            <span class="mr-1">
                <span class="user-name text-bold-700">@Session["userDisplayName"]</span>
            </span>
            <span class="avatar avatar-online">
                <img src="~/Content/Images/avatar_32x32.png" alt="avatar">
            </span>
        </a>
        
        <div class="dropdown-menu dropdown-menu-right">
            @*<a class="dropdown-item" href="/Administration/UserAdmin/EditUserProfile?id=@User.Identity.GetUserId()"><i class="ft-user"></i> Edit Profile</a>
        <a class="dropdown-item" href="#"><i class="ft-mail"></i> My Inbox</a>
        <a class="dropdown-item" href="#"><i class="ft-check-square"></i> Task</a>
        <a class="dropdown-item" href="#"><i class="ft-message-square"></i> Chats</a>*@
            <!--<div class="dropdown-divider"></div>-->
            @using (Html.BeginForm("LoginForm", "Account", new { Area = string.Empty }, FormMethod.Get, new { id = "logoutForm" }))
            {
                @Html.AntiForgeryToken()
            <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()"><i class="ft-power"></i> @CommonResx.text_LoginInAsOthers</a>
            }
        </div>
                
    </li>
}
else
{
    // NOT valid for DAP (Page must be authenticated)
}
