﻿@using Nwcl.DAP.Web.Common;
@using System.Configuration;
@using Nwcl.DAP.Common;
<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Modern admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities with bitcoin dashboard.">
    <meta name="keywords" content="admin template, modern admin template, dashboard template, flat admin template, responsive admin template, web app, crypto dashboard, bitcoin dashboard">
    <meta name="author" content="PIXINVENT">
    <title>NWCL DAP</title>
    <link rel="apple-touch-icon" href="~/Content/app-assets/images/ico/apple-icon-120.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/Scripts/images/NWCLLogoIcon.png">

    @Styles.Render("~/Content/kendo/css")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryVal")
    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/jsJson")
    @Scripts.Render("~/bundles/misc")

    <link href="~/Content/app-assets/fonts/line-awesome/css/line-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/app-assets/css/vendors.css" rel="stylesheet" />
    <link href="~/Content/app-assets/css/app.min.css" rel="stylesheet" />
    <link href="~/Content/app-assets/css/core/menu/menu-types/vertical-menu.min.css" rel="stylesheet" />
    <link href="~/Content/app-assets/css/core/colors/palette-gradient.min.css" rel="stylesheet" />
    <link href="~/Content/app-assets/css/core/colors/palette-tooltip.css" rel="stylesheet" /><!---->
    <link href="~/Content/assets/css/style.css" rel="stylesheet" />





    @Html.RenderScriptsCachedByLWT("~/Content/sweetalert/sweetalert.js")
    @Html.RenderStylesCachedByLWT("~/Content/sweetalert/sweetalert.css")

    @Html.RenderStylesCachedByLWT("~/Content/Main.css")
    @Html.RenderStylesCachedByLWT("~/Content/InnerRegionBody.css")

    <script type="text/javascript">
        var contextRoot = '@Session["ContextRoot"]';
    </script>

</head>
<body class="vertical-layout vertical-menu 2-columns fixed-navbar pace-done menu-collapsed"
      data-open="click" data-menu="vertical-menu" data-col="2-columns">

    <!-- fixed-top-->
    <nav class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-without-dd-arrow fixed-top navbar-semi-light bg-info navbar-shadow">
        <div class="navbar-wrapper">
            <div class="navbar-header">
                <ul class="nav navbar-nav flex-row">
                    <li class="nav-item mobile-menu d-md-none mr-auto"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="ft-menu font-large-1"></i></a></li>
                    <li class="nav-item">
                        <a class="navbar-brand" href="/">
                            <img class="brand-logo" alt="modern admin logo" src="~/Scripts/images/NWCLLogoIcon.png">
                            <img class="brand-text menu-logotext-info" src="~/Content/Images/NWCLLogoEndText.png" />
                        </a>
                    </li>
                    <li class="nav-item d-md-none">
                        <a class="nav-link open-navbar-container" data-toggle="collapse" data-target="#navbar-mobile"><i class="la la-ellipsis-v"></i></a>
                    </li>
                </ul>
            </div>
            <div class="navbar-container content">
                <div class="collapse navbar-collapse" id="navbar-mobile">
                    <ul class="nav navbar-nav mr-auto float-left">
                        <li class="nav-item d-none d-md-block" onclick="mainclick()"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="ft-menu"></i></a></li>
                        <li class="nav-item d-none d-md-block"><a class="nav-link nav-link-expand" href="#"><i class="ficon ft-maximize"></i></a></li>

                    </ul>

                    <ul class="nav navbar-nav float-right">
                        <!-- Render the Language Switcher View -->
                        @Html.Partial("_LanguageSwitcher")

                        <!-- Render the Login Partial View -->
                        @Html.Partial("_LoginPartial")


                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- ////////////////////////////////////////////////////////////////////////////-->

    <div class="main-menu menu-fixed menu-light menu-accordion    menu-shadow " data-scroll-to-active="true">
        <div class="main-menu-content">
            <ul class="navigation navigation-main font-family-all" id="main-menu-navigation" data-menu="menu-navigation">
                
            </ul>
        </div>
    </div>
    <div class="app-content content" style="min-width:1130px">
        <div class="content-wrapper" id="contentpage">
            <div class="content-header row">
                
                @{Html.RenderAction("_SystemMessage", "Home", new { Area = "", function = ViewData["SystemMessageCode"] }); }
            </div>


            <div class="content-body">
                <!-- Description -->
                <section id="description" class="card">
                    <div class="card-header">
                        @RenderBody()
                    </div>
                </section>
            </div>
            <div class="content-header row">
                <div class="content-header-left col-md-6 col-12 mb-2">
                    <span class=" NavTail">@ViewData["FormID"]</span>

                </div>
                <div class="content-header-right col-md-6 col-12">
                    <div class="btn-group float-md-right " role="group" aria-label="Button group with nested dropdown">
                        @{ if (CultureHelper.GetCurrentCultureFieldLanguage() == Constants.FIELD_LANGUAGE_CN)
                            {
                                <span class="NavTail">@ConfigurationManager.AppSettings["CN_VersionNumber"].ToString()</span>
                            }
                            else
                            {
                                <span class="NavTail">@ConfigurationManager.AppSettings["EN_VersionNumber"].ToString()</span>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <div class="customizer border-left-blue-grey border-left-lighten-4 d-none d-xl-block">

    </div>
    <footer class="footer footer-static footer-light navbar-border navbar-shadow">
        <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2">
            <span class="float-md-left d-block d-md-inline-block">
                @String.Format(Nwcl.DAP.Web.Common.Resources.CommonResx.text_Footer, DateTime.Today.Year)
                @*Copyright © 2018 <span class="text-bold-800 grey darken-2 footer-span" target="_blank">New World China Land Limited</span>, All rights reserved.*@
            </span>

        </p>
    </footer>
    <script src="~/Content/app-assets/vendors/js/vendors.min.js">
    </script>
    @*<script src="~/Content/app-assets/vendors/js/extensions/sweetalert.min.js"></script>*@
    @*<script src="~/Content/app-assets/vendors/js/charts/chart.min.js"></script>
        <script src="~/Content/app-assets/vendors/js/charts/echarts/echarts.js"></script>*@
    <script src="~/Content/app-assets/js/core/app-menu.js"></script>
    <script src="~/Content/app-assets/js/core/app.min.js"></script>
    <script src="~/Content/app-assets/js/scripts/customizer.min.js"></script>
    

    <script src="~/Scripts/kendo.messages.@(CultureHelper.GetCurrentCultureFieldLanguage() == Constants.FIELD_LANGUAGE_EN ? Constants.CULTURE_INFO_EN : Constants.CULTURE_INFO_CN).js"></script>
    <script type="text/javascript">
        kendo.culture("@(CultureHelper.GetCurrentCultureFieldLanguage() == Constants.FIELD_LANGUAGE_EN ? Constants.CULTURE_INFO_EN : Constants.CULTURE_INFO_CN)");
    </script>
</body>
</html>


@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
@Html.RenderScriptsCachedByLWT("~/Scripts/Main.js")









