﻿@model Nwcl.DAP.Web.Models.SystemMessageViewModels
<script>
    var sysMsg = {};
    @{
        foreach (var item in Model.Message)
        {
            <text>
                sysMsg.@item.Key = "@Html.Raw(item.Value)";
            </text>
        }
    }
</script>