﻿
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <title></title>
    @Styles.Render("~/Content/kendo/css")
 

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryVal")


    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/jsJson")
    <script src="~/Scripts/src/sweetalert.min.js"></script>
    <link href="~/Scripts/src/sweetalert.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.blockui.min.js"></script>
    <script src="~/Scripts/scripts/app.min.js"></script>
    <script src="~/Scripts/ui-blockui.min.js"></script>
    <script src="~/Scripts/Main.js"></script>

    <link href="~/Scripts/CSS/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Scripts/CSS/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Scripts/CSS/index.css" rel="stylesheet" />
    @*<link href="~/Scripts/CSS/mycomcss.css" rel="stylesheet" />*@
    @*<link href="~/Scripts/CSS/font_385971_wtz6xbfc19bpgb9.css" rel="stylesheet" />*@

    @*<script src="~/Scripts/JS/html5shiv.min.js"></script>
    <script src="~/Scripts/JS/respond.min.js"></script>
    <script src="~/Scripts/JS/jQuery-min.js"></script>
    <script src="~/Scripts/JS/bootstrap3.min.js"></script>*@
    @*<script src="~/Scripts/JS/bootstrap3.min.js"></script>*@

    <!--[if lt IE 9]>
          <script src="../js/html5shiv.min.js"></script>
          <script src="../js/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-3">
                <img src="~/Scripts/images/u54.png" class="img-responsive" alt="">
            </div>
            <div class="col-lg-2 col-md-3 col-sm-3">
                <p class="text-center p2 header_title">项目与建筑管理系统</p>
            </div>
            <div class="col-lg-5 col-md-3 col-sm-2"></div>
            <div class="col-lg-3 col-md-3 col-sm-5">
                <div class="col-lg-2 col-md-2 col-sm-2 header_picture"><img src="~/Scripts/images/u56.png" class="img-responsive" alt=""></div>
                <div class="col-lg-8 col-md-8 col-sm-8 header_text">Leung Chung Yu, Anthony</div>
                <div class="col-lg-2 col-md-2 col-sm-2 header_down pull-right"><img src="~/Scripts/images/u58.png" class="img-responsive" alt=""></div>
            </div>
            <!--<div class="col-lg-2">-->
            <!--&lt;!&ndash;<span style="float: left;margin:10px 0 0 -50px"><img src="images/u56.png" class="img-responsive" alt=""></span>&ndash;&gt;-->
            <!--&lt;!&ndash;<span style="margin: 0 0 10px;line-height: 43px">Leung Chung Yu, Anthony</span>&ndash;&gt;-->
            <!--&lt;!&ndash;<span style="float: right;margin-top: 20px"><img src="images/u58.png" class="img-responsive" alt=""></span>&ndash;&gt;-->
            <!--</div>-->
        </div>
        <div class="row">
            <div class="col-lg-1 col-md-2 col-sm-2">
                <p id="dropdownMenu1" data-toggle="dropdown" class="title_text_one">
                    项目
                    <span class="caret"></span>
                </p>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="/Project/projectlist">项目列表</a>
                    </li>
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="/Project/CreateProject">建立项目</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-1 col-md-2 col-sm-1 title_text_two">报表</div>
            <div class="col-lg-2 col-md-3 col-sm-2 a">
                <p id="dropdownMenu2" data-toggle="dropdown" class="title_text_two">
                    主要数据维护
                    <span class="caret"></span>
                </p>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="#">业态维护</a>
                    </li>
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="#">造价分项工程维护</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-1 col-md-2 col-sm-1 title_text_two pull-left">保安</div>
            <div class="col-lg-7 col-md-4 col-sm-4"></div>
        </div>
        <div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-xs-4">
                   @ViewData["Path"] 
                </div>
                <div class="col-lg-7 col-md-7 col-xs-6"></div>
                <div class="col-lg-1 col-md-1 col-xs-2 ">Version 3.0</div>
            </div>
        </div>
        <div class="border"></div>
        <div class="row">
            <div class="col-lg-2 col-md-2 col-xs-2">
                <div class="caption_left">@ViewData["Title"]</div>
            </div>
            <div class="col-lg-9 col-md-9 col-xs-8"></div>
            <div class="col-lg-1 col-md-2 col-xs-2 caption_right">@ViewData["FormID"]</div>
        </div>
        <div class="border"></div>
    </div>
        @*<div class="col-md-9">

            <div class="inbox-body">
                <div class="page-content-inner portlet ">
                    <div class="mt-content-body">
                        @RenderBody()
                        </div>
                    </div>
                </div>
            </div>*@
    <div class="container-fluid">
       @RenderBody()

        </div>
</body>
</html>
<script src="~/Scripts/JS/bootstrap3.min.js"></script>

@*<script src="~/Scripts/JS/include.js"></script>*@
@*<script src="~/Scripts/JS/jQuery-min.js"></script>
<script src="~/Scripts/JS/bootstrap3.min.js"></script>*@

@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)