﻿@charset "utf-8";
/* CSS Document */
h1,h2,h3,h4,h5,h6{ margin:0px; padding:10px 0px 20px 0px;}
body {
    font-family: '微軟正黑體';
    font-size: 16px;
    line-height: 25px;
}
h4{ font-size:18px;}
h3{ font-size:20px;}


.jumbotron h1, .jumbotron .h1{font-size:50px;}
.navbar{ margin-bottom:0px; background:#222222}
ul,li{ margin:0px; padding:0px; list-style:none}
.carousel-inner{max-width:1200px; margin:0px auto}
.carousel{ margin-top:50px;}

.template_caption,.template_news,.template_cooperation{ text-align:center; padding:20px 0px; margin-top:50px; border-bottom:4px solid #C30}

.template_news,.template_cooperation{border:0px;}
.servers{ margin-top:80px;}

.news .newslist{  border:1px solid #fff;border-bottom:1px solid #ccc; height:124px;}
.template_cooperationlist{ margin-top:20px;}
.template_cooperationlist div{ background:#CC0; height:200px; border-radius:10px;}
.footer{ width:100%; margin-top:50px; padding:50px 0px;  background:#ccc; text-align:center}
.jumbotron{ height:250px; color:#fff}
.jumbotron small{ color:#fff}
.nav-pills{ width:170px; text-align:center}
.nav-pills.affix{ top:30px;}
.newsinfo{ border:1px solid #ccc; box-shadow:2px 2px 3px #ccc; margin-bottom:15px;}
.newsinfo .left img{ margin:15px 0px}
.new_hot{ border:1px solid #ccc; box-shadow:2px 2px 1px #ccc;}
.times{ font-size:12px; color:#ccc}


.navbar-default .navbar-nav>li>a,.navbar-default .navbar-nav>li>a:hover{ color:#fff;}
.navbar-default .navbar-nav>li>a:hover{background:#FF9541}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{ color:#fff; background:#FF9541}

.navbar-default .navbar-brand,.navbar-default .navbar-brand:hover{ color:#fff}

@media (max-width:550px){
.template_caption,.template_news,.template_cooperation{ margin:0px;}
.servers{ margin-top:40px;}
.newdirection{ display:none}

}

@media (max-width:992px)
{

	body{font-size:14px;}
	h4{ font-size:16px;}
	h3{ font-size:18px;}
}
@media (max-width:450px){
h3{ font-size:14px}

}