﻿/* Define the master styles for Inner Region body (main content page) */
.tab-border {
    border: 1px solid #BABFC7;
    height: auto;
    overflow: hidden
}
.FormID-top {
    padding-top: 2.5rem !important
}
.nav-border-bottom {
    border-bottom: none;
}
.margin-bottom {
    margin-bottom: 20px
}