﻿.k-grid, .k-grid * {
    border: 0 !important;
}

.headFilter {
    float: left;
}

.headSearch {
    float: right;
}

.lineimg {
    visibility: hidden;
}

.line {
    width: 3%;
}

.cb {
    width: 5%;
}

.NumberDetail {
    width: 60%;
    padding: 0;
}

.hknumber {
    color: #479db2;
    font-size: 15px;
}

.CostDetail {
    width: 30%;
}

.info, .CentralRecordNum {
    font-size: 12px;
    color: #666666;
}

.casetype {
    display: block;
    /*padding-top: 20px;*/
}

.imgfont {
    text-align: center;
    margin-top: 14px;
    margin-bottom: 12px;
}

.quickApprove {
    cursor: pointer;
    margin-top: 14px;
    margin-bottom: 12px;
}

.Actionfont {
    font-size: 11px;
    color: #000000;
}

.mytask_createDate, .mytask_company, .mytask_dc {
    font-size: 17px;
    color: #479db2;
}

.mytask_createDate {
    padding-right: 50px;
}

.infoname, .project, .mytask_PayeeUnit {
    font-size: 14px;
    color: #479db2;
}

.mytask_projectTitle, .mytask_categoryTitle, .mytask_payeeTitle {
    font-size: 14px;
    color: #666666;
}

.mytask_PaymentPurpose {
    color: #666666;
    /*font-size: 18px;*/
}

.mytask_p_PaymentPurpose {
    margin-bottom: 5px;
    margin-top: 10px;
}

.mytask_p_hknumber {
    margin-top: 5px;
    margin-bottom: 10px;
}

.TitleDetail {
    font-size: 10px;
    color: #0099FF;
}

.temptr {
    text-align: left;
    border-bottom: 1px solid !important;
}

.mytask_p_fotter {
    margin-bottom: 17px;
}

.col-sm-1-title {
    width: 10%;
}

.col-sm-2-textbox {
    width: 20%;
}

.col-sm-3-textbox {
    width: 30%;
}

.nav_bgImage {
    background-image: url(/Images/background.jpg);
    margin-bottom: 20px;
}

.marginB_del {
    margin-bottom: 0px;
}

.paddingLR_del {
    padding-right: 0px;
    padding-left: 0px;
}

.border_del {
    border-style: none;
    border: 0;
}

.nav_nwd {
    background-color: transparent;
}

.nav_ul_nwd li {
    background-color: rgba(255, 255, 255, .4);
    margin-right: 10px;
}

.nav_ul_nwd > .menuActive {
    background-color: #FFF;
}

    .nav_ul_nwd > .menuActive > a {
        color: #479db2;
    }

.btn-round {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: #DDDDDD;
}

    .btn-round.btn-lg {
        width: 48px;
        height: 48px;
    }

    .btn-round.btn-sm {
        width: 34px;
        height: 34px;
    }

    .btn-round.btn-xs {
        width: 24px;
        height: 24px;
    }

.selectall_chk {
    border-radius: 50px;
    margin-right: 10px;
    background-color: #DDDDDD;
    text-align: center;
}

.selectall_div {
    padding-right: 0px;
}

.nav_ddl {
    display: inline-block;
}

nav_font {
    font-size: 16pt;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
}

.SettingDiv {
    width: 100%;
    background-color: #FFFFFF;
}

hr, p {
    margin: 10px 0 !important;
}

.project {
    margin-right: 25px;
}
.k-grid, .k-listview {
    position: inherit;
}