﻿@model  Nwcl.DAP.Web.Areas.Main.Models.EntityUserGroupTreeExtendedViewModel
<div id="ProjectTreeViewAll" >
</div>
    <script>
        $("#ProjectTreeViewAll").kendoTreeView({
            loadOnDemand: false,
            dataSource: @Html.Raw(Model.TemplateItemListJson())
        });
    </script>
