﻿@using Nwcl.DAP.Web.Common;
@using Nwcl.DAP.Web.Areas.Main.Resources.UploadExcel;
@using Nwcl.DAP.Web.Common.Resources;
@using Nwcl.DAP.Common;
@using Nwcl.DAP.Web.Areas.Main.Controllers;
@using Nwcl.DAP.Web.Common.Attributes;
@using Nwcl.DAP.Web.Areas.Main.Models;
@using Kendo.Mvc.UI.Fluent;
@using CommonRes = Nwcl.DAP.Web.Common.Resources.CommonResx;


<!-- Renders the partial view containing the script snippet with .NET resource javascript object -->
@Html.RenderResxJSPartial("_ResxJS", "UploadExcelResx", typeof(IndexResx))
@Html.RenderResxJSPartial("_ResxJS", "CommonResx", typeof(CommonResx))
<!-- Renders the inline javascript and style for the view  -->
@*@Html.InlineScripts("~/Areas/Main/Scripts/UploadExcel/Index.js")*@
<script src="~/Areas/Main/Scripts/UploadExcel/Index.js"></script>
<style>
    #horizontal {
        height: 100%;
        width: 100%;
        display: table;
    }
    #left-pane {
        display: table-cell;
        width: 65%;
        border-right-width: 2px;
        border-right-style: solid;
        border-right-color: #B0B0B0;
    }
    #center-pane {
        display: table-cell;
        padding: 0 10px;
        margin-left: -15px;
    }

    .confirmExcel {
        background-color: antiquewhite;
        padding-top: 20px;
    }

    .confirmExcelMsg{
        
    }

</style>
<script>
    $(document).ready(function () {
        $.ajax({
            type: 'Get', async: 'false',
            data: {
            },
            url: '@Url.Action("_ProjectTreePartial")',
            dataType: 'html',  // add this line
            success: function (result) {
                $('#entityTreeDiv').html(result);
                $('#confirmUploadExcelDiv').hide();

            }
        })
    });
</script>
<input type="hidden" id="uploadGuid" />
<div id="confirmUploadExcelDiv" class="row text-height confirmExcel" style="display:none">
    <div class="col-md-offset-2 col-md-12 text-center confirmExcelMsg">
        <span class="SubTitle">@IndexResx.lblConfirmUpload</span>&nbsp;
        <input id="btnSave" onclick="clickSave()" type="button" value="@CommonResx.btnSave_Text" class="btn btn-success k-button ShortBtn" />
        <input id="btnCancel" onclick="ClickReturn()" type="button" value="@CommonResx.btnCancel_Text" class="btn btn-success k-button ShortBtn" />
        <br /><br />
    </div>
</div>
<section id="horizontal-form-layouts ">
    <div class="col-md-12">
        <div id="vertical">
            <div id="top-pane">
                <div id="horizontal">
                    <div id="left-pane">

                        <div class="py-1 pane-content">
                            <h4 class="form-section"><i class="la la-pencil-square"></i> @Nwcl.DAP.Web.Areas.Main.Resources.EntityGroup.IndexResx.lblTreeTitle</h4>
                            <div id="entityTreeDiv"></div>
                        </div>
                    </div>
                    <div id="center-pane">
                        <div class="pane-content">
                            @(Html.Kendo().Upload()
                                .Name("files")
                                .Multiple(false)
                                .Async(a => a
                                    .Save("Events_Save", "UploadExcel")
                                    .Remove("Events_Remove", "UploadExcel")
                                    .AutoUpload(false)
                                    )
                                    .Events(events => events
                                        .Cancel("onCancel")
                                        .Clear("onClear")
                                        .Complete("onComplete")
                                        .Error("onError")
                                        .Progress("onProgress")
                                        .Remove("onRemove")
                                        .Select("onSelect")
                                        .Success("onSuccess")
                                        .Upload("onUpload")
                                    )
                            )
                            <script src="">
                            </script>
                            <div class="box">
                                <h4>@IndexResx.lblConsole</h4>
                                <div class="console"></div>
                                <div style="display:none;">
                                    @ViewData["ErrorMessage"]
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
</section>
