﻿@using Nwcl.DAP.Common;
@using Nwcl.DAP.Web.Common.Resources;

<li class="dropdown dropdown-language nav-item">
    <a class="dropdown-toggle nav-link" id="dropdown-flag" href="#" data-toggle="dropdown"
       aria-haspopup="true" aria-expanded="false">
    <i class="flag-icon @(CultureHelper.GetCurrentCultureFieldLanguage() == Constants.FIELD_LANGUAGE_EN ? "flag-icon-gb" : "flag-icon-cn") "></i>
    <span class="selected-language"></span></a>
    <div class="dropdown-menu" aria-labelledby="dropdown-flag">
        <a class="dropdown-item" href="@Url.Action("SetCulture", "Home", new { Area = "", culture = Constants.FIELD_LANGUAGE_CN, returnUrl = Request.Url.PathAndQuery })"><i class="flag-icon flag-icon-cn"></i> @CommonResx.text_Chinese</a>
        <a class="dropdown-item" href="@Url.Action("SetCulture", "Home", new { Area = "", culture = Constants.FIELD_LANGUAGE_EN, returnUrl = Request.Url.PathAndQuery })"><i class="flag-icon flag-icon-gb"></i> @CommonResx.text_English</a>
    </div>
</li>
