﻿@model List<Nwcl.DAP.Web.Models.LeftMenuViewModels>
@foreach (var item in Model)
{
    if (!item.ParentID.HasValue)
    {
        <li class="nav-item">
            <a href="@item.Path" title="@item.Name"><i class="la @item.BeforeTitleIcon"></i><span class="menu-title" data-i18n="nav.dash.main">@item.Name</span></a>
            @if (item.SubMenu.Count > 0)
            {
                <ul class="menu-content">
                    @Html.Partial("_LeftMenu", item.SubMenu)
                </ul>
            }
        </li>
    }
    else
    {
        <li>
            <a class="menu-item" href="@item.Path" data-i18n="nav.dash.ecommerce" title="@item.Name">@item.Name</a>
            @if (item.SubMenu.Count > 0)
            {
                <ul class="menu-content">
                    @Html.Partial("_LeftMenu", item.SubMenu)
                </ul>
            }
        </li>
    }


}
