﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@*<div class="row-fluid">
    <div class="http-error">
        <h1>
            <label>出错啦！</label>
        </h1>
        <p class="info">
            <label>请稍后重试！</label>
        </p>
        <p><i class="fa fa-home"></i></p>
        <p><a href="/Home/Index">返回主页</a></p>
    </div>
</div>*@
