﻿@using Nwcl.DAP.Web.Common;
@using Nwcl.DAP.Web.Common.Resources;
@using Nwcl.DAP.Web.Areas.Main.Resources.Home;
@using Nwcl.DAP.Common;
@using Nwcl.DAP.Web.Areas.Main.Controllers;
@using Nwcl.DAP.Web.Common.Attributes;
@using CommonRes = Nwcl.DAP.Web.Common.Resources.CommonResx;
@using Nwcl.DAP.Application.Service;
@using Nwcl.DAP.DAL.Model;
@model Nwcl.DAP.Web.Areas.Main.Models.DashboardConfigExtendedViewModel


<!-- Renders the partial view containing the script snippet with .NET resource javascript object -->
@Html.RenderResxJSPartial("_ResxJS", "HomeResx", typeof(IndexResx))
@Html.RenderResxJSPartial("_ResxJS", "CommonResx", typeof(CommonResx))
<!-- Renders the inline javascript and style for the view  -->
<script src="~/Areas/Main/Scripts/Home/Index.js"></script>
@*@Html.InlineScripts("~/Areas/Main/Scripts/Home/Index.js")*@
@Html.InlineStyles("~/Areas/Main/Content/CSS/Home/Index.css")
@Html.InlineScripts("~/Areas/Main/Scripts/Home/es6-promise.js")
<script src="~/Areas/Main/Scripts/Home/powerbi.js"></script>
@*@Html.InlineScripts("~/Areas/Main/Scripts/Home/powerbi.js")*@



<div id="horizontal" style="min-height:1200px; min-width:1050px; height: 100%; width: 100%;">
    <div id="left-pane">

        <div class="pane-content">
            <div class="vmenu">
                @Html.Raw(ViewData["DashboardURL"])
            </div>
        </div>
    </div>
    <div id="center-pane" style="height:1200px;">
        <div class="pane-content" style="height:1200px;">
            <div class="text-right" style="height:1200px;">
                <div id="reportContainer" style="height:1150px;"></div>
            </div>
        </div>
    </div>
</div>


<script>

    // Read report Id from Model
    var embedReportId = "@Model.Id";

    var errMessage = "@Model.ErrorMessage";


    if (errMessage == "" && embedReportId != "" && embedReportId != "null") {
        // Read embed application token from Model
        var accessToken = "@Model.strToken";

        // Read embed URL from Model
        var embedUrl = "@Html.Raw(Model.EmbedUrl)";

        if (embedReportId != "") {
            // Get models. models contains enums that can be used.
            var models = window['powerbi-client'].models;

            // Embed configuration used to describe the what and how to embed.
            // This object is used when calling powerbi.embed.
            // This also includes settings and options such as filters.
            // You can find more information at https://github.com/Microsoft/PowerBI-JavaScript/wiki/Embed-Configuration-Details.
            var config = {
                type: 'report',
                tokenType: models.TokenType.Embed,
                accessToken: accessToken,
                embedUrl: embedUrl,
                id: embedReportId,
                permissions: models.Permissions.Read,
                settings: {
                    filterPaneEnabled: false,
                    navContentPaneEnabled: true
                }
            };

            // Get a reference to the embedded report HTML element
            var reportContainer = $('#reportContainer')[0];

            // Embed the report and display it within the div container.
            var report = powerbi.embed(reportContainer, config);

            //alert(accessToken);
            console.log(printCurrentTime() + " - Token: " + accessToken);
            console.log(printCurrentTime() + " - Token from object: " + report.getAccessToken());
            setTokenExpirationListener(@Model.MinutesToExpiration, 5 /*minutes before expiration*/,
            "@Model.WorkspaceId", "@Model.Id", "@Model.Roles");
        }
    }
    else {

        //swal({
        //    title: "",
        //    type: "warning",
        //    text: errMessage,
        //    confirmButtonText: CommonResx.text_confirm,
        //});
        ;
    }
</script>
