﻿@using Nwcl.DAP.Web.Common;
@using Nwcl.DAP.Common;
@using Nwcl.DAP.Web.Areas.Main.Resources.Department;
@using Nwcl.DAP.Web.Common.Resources;
@using CommonRes = Nwcl.DAP.Web.Common.Resources.CommonResx;
@using Nwcl.DAP.Web.Common.Attributes;
@model Nwcl.DAP.Web.Areas.Main.Models.DepartmentExtendedViewModel

<!-- Renders the partial view containing the script snippet with .NET resource javascript object -->
@Html.RenderResxJSPartial("_ResxJS", "IndexResx", typeof(IndexResx))
@Html.RenderResxJSPartial("_ResxJS", "CommonResx", typeof(CommonResx))
<!-- Renders the inline javascript and style for the view  -->
@Html.InlineScripts("~/Areas/Main/Scripts/Department/EditDepartment.js")
<!--<script src="~/Areas/Main/Scripts/Department/EditDepartment.js"></script>-->
<section id="horizontal-form-layouts ">

    <div class="card">
        <div class="card-header bg-light">
            <div class="row">
                <div class="col-md-4 col-12">
                    <div class="SubTitle">@CommonResx.text_dapDepartment : @ViewData["Name"]</div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="SubTitle">@IndexResx.lblCompany : @ViewData["CompanyName"]</div>
                </div>
            </div>

        </div>
        <div class="card-body">
            <div class="col-md-12">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <div class="SubSubTitle"> @IndexResx.lblDepartmentUser </div>
                </div>
                <div class="py-2 Card-Separator">
                    <div class="row">
                        <div class="col-md-12">
                            @(Html.Kendo().Grid<Nwcl.DAP.Web.Areas.Main.Models.DepartmentUserExtendedViewModel>()
.Name("SelectedGrid")
.Columns(columns =>
{
columns.Template(@<text></text>).ClientTemplate("<a role='button' class='grid-action-button GridRowDelete btn-secondary text-white'><span class='la la-trash' title='" + CommonResx.btnDelete_Text + "'></span></a>").Width(70).Locked(true).Lockable(false).Title(@CommonResx.lblOperation_Text).HeaderHtmlAttributes(new { @class = "grid-header-color" });
    columns.Bound(p => p.ADDisplayName).Width(120).Title(@IndexResx.lbl_DisplayName).HeaderHtmlAttributes(new { @class = "grid-header-color" });
    columns.Bound(p => p.ADLogonNameDisplay).Width(80).Title(@IndexResx.lbl_LogonName).HeaderHtmlAttributes(new { @class = "grid-header-color" });
    columns.Bound(p => p.ADDomain).Width(30).Title(@IndexResx.lbl_Domain).HeaderHtmlAttributes(new { @class = "grid-header-color" });
    columns.Bound(p => p.ADRegion).Width(70).Title(@IndexResx.lbl_Region).HeaderHtmlAttributes(new { @class = "grid-header-color" });
    columns.Bound(p => p.ADCompany).Width(200).Title(@IndexResx.lbl_Company).HeaderHtmlAttributes(new { @class = "grid-header-color" });
    columns.Bound(p => p.ADDepartment).Width(100).Title(@IndexResx.lbl_Department).HeaderHtmlAttributes(new { @class = "grid-header-color" });
    columns.Bound(p => p.ADEmail).Width(180).Title(@IndexResx.lbl_Email).HeaderHtmlAttributes(new { @class = "grid-header-color" });
    columns.Bound(p => p.ADTitle).Width(100).Title(@IndexResx.lbl_Title).HeaderHtmlAttributes(new { @class = "grid-header-color" });

    columns.Bound(p => p.ADLogonName).Hidden(true).HeaderHtmlAttributes(new { @class = "grid-header-color" });
}).Sortable()
.Excel(e => e.FileName("DepartmentUser.xlsx"))
.Filterable()
.Editable(editable => { editable.Mode(GridEditMode.InLine).CreateAt(GridInsertRowPosition.Bottom); editable.DisplayDeleteConfirmation(false); })
.Pageable(pageable => pageable.Refresh(true)
.PageSizes(true)
.Messages(o => o.AllPages(CommonRes.KendoPager_AllPages))
.Messages(o => o.Display(CommonRes.KendoPager_Display))
.Messages(o => o.Empty(CommonRes.KendoPager_Empty))
.Messages(o => o.First(CommonRes.KendoPager_First))
.Messages(o => o.ItemsPerPage(CommonRes.KendoPager_ItemsPerPage))
.Messages(o => o.Last(CommonRes.KendoPager_Last))
.Messages(o => o.MorePages(CommonRes.KendoPager_MorePages))
.Messages(o => o.Next(CommonRes.KendoPager_Next))
.Messages(o => o.Of(CommonRes.KendoPager_Of))
.Messages(o => o.Page(CommonRes.KendoPager_Page))
.Messages(o => o.Previous(CommonRes.KendoPager_Previous))
.Messages(o => o.Refresh(CommonRes.KendoPager_Refresh)))
//.Events(e => e.Edit("onEdit"))
.DataSource(dataSource => dataSource.Ajax()
.PageSize(10)
.Model(model => { model.Id(p => p.Id); })
.Read(read => read.Action("GetDepartmentUserListById", "Department", new { DepartmentId = @Model.Id }))
.Destroy(delete => delete.Action("DeleteDepartmentUser", "Department")))
.Reorderable(reorderable => reorderable.Columns(true))
.Resizable(resizable => resizable.Columns(true))
.HtmlAttributes(new { @class = "grid-info" })
                            )
                        </div>
                    </div>
                </div>

                <div class="py-2 Card-Separator">
                    <div class="row">
                        <div class="col-md-6 col-12">
                            <div class="SubSubTitle">@IndexResx.lblSearchFromDomain</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9 col-12 ">
                            <div class="domainCheckbox">
                                <input type="checkbox" value="first checkbox" id="cb1" style="display:none;" /> <label for="cb1" style="display:none;">first checkbox</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9 col-12">
                            <input id="txtCriteria" maxlength="100" name="NameEN" class="k-textbox  full-width">
                        </div>
                        <div class="col-md-3 col-12">
                            <input type="button" value="@IndexResx.lblSearch" class="btn k-button btn-success" onclick="searchClicked()" />
                        </div>
                    </div>

                </div>

                <div class="py-2 Card-Separator">
                    <div class="row">
                        <div class="col-md-3 col-12">
                            <div class="SubSubTitle">@IndexResx.lblSearchResult</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            @(Html.Kendo().Grid<Nwcl.DAP.Web.Areas.Main.Models.DepartmentUserExtendedViewModel>()
.Name("UserGrid")
.Columns(columns =>
{
columns.Template(@<text></text>).ClientTemplate("<a role='button' class='grid-action-button btn-success text-white' onclick='AddUserToGroup(\"#:ADLogonName#\")'><span class='la la-plus' title='" + CommonResx.btnDelete_Text + "'></span></a>").Width(70).Locked(true).Lockable(false).Title(@CommonResx.lblOperation_Text).HeaderHtmlAttributes(new { @class = "grid-header-color" });
    columns.Bound(p => p.ADDisplayName).Width(120).Title(@IndexResx.lbl_DisplayName).HeaderHtmlAttributes(new { @class = "grid-header-color" });
    columns.Bound(p => p.ADLogonNameDisplay).Width(80).Title(@IndexResx.lbl_LogonName).HeaderHtmlAttributes(new { @class = "grid-header-color" });
    columns.Bound(p => p.ADDomain).Width(30).Title(@IndexResx.lbl_Domain).HeaderHtmlAttributes(new { @class = "grid-header-color" });
    columns.Bound(p => p.ADRegion).Width(70).Title(@IndexResx.lbl_Region).HeaderHtmlAttributes(new { @class = "grid-header-color" });
    columns.Bound(p => p.ADCompany).Width(200).Title(@IndexResx.lbl_Company).HeaderHtmlAttributes(new { @class = "grid-header-color" });
    columns.Bound(p => p.ADDepartment).Width(100).Title(@IndexResx.lbl_Department).HeaderHtmlAttributes(new { @class = "grid-header-color" });
    columns.Bound(p => p.ADEmail).Width(180).Title(@IndexResx.lbl_Email).HeaderHtmlAttributes(new { @class = "grid-header-color" });
    columns.Bound(p => p.ADTitle).Width(100).Title(@IndexResx.lbl_Title).HeaderHtmlAttributes(new { @class = "grid-header-color" });

    columns.Bound(p => p.ADLogonName).Hidden(true).HeaderHtmlAttributes(new { @class = "grid-header-color" });
})
.Sortable()
.AutoBind(false)
.Editable(editable => { editable.Mode(GridEditMode.InLine).CreateAt(GridInsertRowPosition.Bottom); editable.DisplayDeleteConfirmation(false); })
.Pageable(pageable => pageable.Refresh(true)
.PageSizes(true)
.Messages(o => o.AllPages(CommonRes.KendoPager_AllPages))
.Messages(o => o.Display(CommonRes.KendoPager_Display))
.Messages(o => o.Empty(CommonRes.KendoPager_Empty))
.Messages(o => o.First(CommonRes.KendoPager_First))
.Messages(o => o.ItemsPerPage(CommonRes.KendoPager_ItemsPerPage))
.Messages(o => o.Last(CommonRes.KendoPager_Last))
.Messages(o => o.MorePages(CommonRes.KendoPager_MorePages))
.Messages(o => o.Next(CommonRes.KendoPager_Next))
.Messages(o => o.Of(CommonRes.KendoPager_Of))
.Messages(o => o.Page(CommonRes.KendoPager_Page))
.Messages(o => o.Previous(CommonRes.KendoPager_Previous))
.Messages(o => o.Refresh(CommonRes.KendoPager_Refresh)))

//.Events(e => e.Edit("onEdit"))
.DataSource(dataSource => dataSource.Ajax()
.PageSize(10)
.Model(model => { model.Id(p => p.Id); })
//.Read(read => read.Action("GetUser", "Department"))
)
.Reorderable(reorderable => reorderable.Columns(false))
.Resizable(resizable => resizable.Columns(false))
.HtmlAttributes(new { @class = "grid-info" })
                            )
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="py-1">
                        <div class="col-md-6 col-12">
                            <input id="btnBack" onclick="ClickReturn()" type="button" value="@CommonResx.btnBack_Text" class="btn btn-success" />
                            <br /><br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>