﻿.Title {
    border-width: 0px;
    width: 109px;
    height: 22px;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    color: #0066CC;
}

#vertical {
    height: 1200px;
    margin: 0 auto;
    border-style: none;
}

.pane-content {
    padding: 0 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: -15px;
}


.vmenu {
    width: 200px; /* Set a width if you like */
}

.vmenu a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
}

.vmenu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}

.vmenu a.active {
    background-color: #4CAF50; /* Add a green color to the "active/current" link */
    color: white;
}