﻿body {
}
.footer-span {
    color: #1E9FF2 !important;
}
.div-margin-bottom {
    margin-bottom: -20px !important;
}
.full-width {
    width: 100% !important;
}
.full-height {
    width: 100% !important;
}
.loogDAP {
    width: 32% !important;
    height: 8% !important;
}

.info, .success, .warning, .error, .validation {
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('../../Images/warning32x32.png');
}