﻿.ssForm [class^="col-md"] > div {
    padding-left: 20px;
    padding-top: 15px;
}

.TitleArea {
    width: 100%;
    background-color: #FF8000;
    height: 50px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
}


.ContentArea {
    width: 100%;
    min-height: 50px;
    background-color: #EEEEEE;
    margin-bottom: 30px;
}


.RequesterArea {
    font-size: 20px;
}

.TotalAmountArea {
    font-size: 20px;
}


.TotalAmountArea {
    font-size: 20px;
}

.ProjectOverviewTitleArea {
    font-size: 18px;
    margin-bottom: 0;
}

.ProjectOverviewContentArea {
    font-size: 16px;
}


.ApprovalHistoryArea {
    padding-left: 0 !important;
    padding-top: 0 !important;
}


.ProposalArea {
    padding-left: 0 !important;
    padding-top: 0 !important;
}

.QuotationArea {
    padding-left: 0 !important;
    padding-top: 0 !important;
}


.CommentsTitle, .CommentsTxt {
    padding-left: 0 !important;
    padding-top: 0 !important;
}

.CommentsArea {
    padding-left: 0 !important;
}


.CommentsArea {
    width: 100%;
}

.CommentsTxt {
    width: 100%;
    max-width: 100%;
}



.btnStandard {
    float: right;
    list-style-type: none;
}

    .btnStandard li {
        padding: 5px;
        margin: 0 5px;
        float: left;
    }

.k-tooltip {
    background: #FFFFFF !important;
    color: #000000 !important;
    border: 2px solid #ccc !important;
    border-radius: 8px !important;
}


.clear {
    clear: both;
}


.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.displayNone {
    display: none !important;
}


#searchbox {
    width: 50%;
    box-sizing: border-box;
    padding: 6px;
    border-radius: 3px;
    border: 1px solid #d9d9d9;
    margin: 10px 0;
}


div.k-window-content {
    overflow: hidden;
}



.DisableControl {
    background-color: #F5F5F5 !important;
}


.TextAlignRight {
    text-align: right;
}

textarea {
    overflow: hidden !important;
    padding-left: 14px !important;
}

.p1 {
    background: #333333;
    color: #ffffff;
}

.border {
    border: 0.5px solid #545454
}

.float_right {
    float: right;
}

.float_left {
    float: left;
}

#myTab li a:hover {
    display: block;
    background-color: blue;
    color: #ffffff;
}

.bask {
    background: blue;
    color: #ffffff;
    opacity: 1;
}

.header_title {
    line-height: 30px;
}

.header_picture {
    margin-top: 3%;
    font-family: "Arial";
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    color: #333333;
    text-align: center;
}

.header_down {
    margin-top: 5%;
    font-family: "Arial";
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    color: #333333;
    text-align: center;
}

.header_text {
    font-family: "Arial";
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    color: #333333;
    line-height: 36px;
    text-align: center;
}

.title_text_one {
    font-family: "Arial Bold", "Arial";
    font-weight: 700;
    cursor: pointer;
    font-size: 13px;
    font-style: normal;
    color: #000000;
}

.title_text_two {
    font-family: "Arial";
    font-weight: 400;
    cursor: pointer;
    font-size: 13px;
    font-style: normal;
    color: #000000;
    line-height: normal;
}

.caption_left {
    font-family: "Arial Bold", "Arial";
    font-weight: 700;
    cursor: pointer;
    font-size: 18px;
    font-style: normal;
    color: #009933;
    line-height: 30px;
}

.caption_right {
    font-family: "Arial Bold", "Arial";
    font-weight: 400;
    line-height: 30px;
    float: right;
    cursor: pointer;
    font-style: normal;
    color: #000;
}

.selected {
    background-color: blue;
    color: #ffffff;
}

.text-height {
    margin-top: 15px;
}

.inline-text {
    line-height: 30px;
}

body {
    font-family: Microsoft Sans Serif,'微軟正黑體','微软正黑体' !important;
}

.header-navbar {
    padding: 0;
    min-height: 5rem;
    font-family: Microsoft Sans Serif,'微軟正黑體','微软正黑体' !important;
    transition: .3s ease all;
}

.header1 {
    font-family: Microsoft Sans Serif,'微軟正黑體','微软正黑体';
    font-weight: 700;
    font-size: 1.51rem;
}

.header2 {
    font-family: Microsoft Sans Serif,'微軟正黑體','微软正黑体';
    font-weight: 400;
    font-size: 1rem;
}

.header3 {
    font-family: Microsoft Sans Serif,'微軟正黑體','微软正黑体';
    font-weight: 400;
    font-size: 1rem;
}



.LabelValue {
    font-family: 'Microsoft JhengHei', 'Microsoft Sans Serif';
    font-size: 14px;
}

.Mandatory {
    color: #ff4848
}



.font-family-all {
    font-family: Microsoft Sans Serif,'微軟正黑體','微软正黑体' !important;
}

.NavTail-all {
    /*font-family: Microsoft Sans Serif,'微軟正黑體','微软正黑体';*/
    font-weight: 400;
    Color: #1E9FF2;
    font-size: 14px;
}

.NavTail {
    Color: #464855;
}

.grid-display {
    display: inline !important;
}

.grid-text-align {
    text-align: center !important;
}

.grid-Cell-color {
    background-color: rgba(152, 251, 152, 5);
}



.grid-headfont-color {
    color: white;
}

.grid-info {
    word-break: break-all;
    width: 100%
}

.margin-bottom-20 {
    margin-bottom: 20px
}

.btn-margin-top {
    margin-top: 10px
}

.margin-left-4 {
    margin-left: 4px !important
}

.margin-right-4 {
    margin-right: 4px !important
}

a {
    color: #0C84D1
}

.label-text {
    font-family: Microsoft Sans Serif,'微軟正黑體','微软正黑体' !important;
    line-height: 30px;
    font-size: 1rem;
    font-weight: 400;
    margin-right: 5px
}


.full-width {
    width: 100%
}

.text-transform {
    text-transform: uppercase
}

.text-align-right {
    text-align: right
}

.menu-logotext-info {
    width: 80%;
    height: 75%;
}

.footer-span {
    color: #1E9FF2 !important;
}

/* Overrides the SweetAlert Prompt Icon blocking Title Issue */
p.lead {
    font-size: 1.25rem;
    font-weight: 400;
    margin-top: 2em;
}

/* Override the Kendo UI Grid Pager Style Issue */
ul.k-pager-numbers li {
    line-height: 2.3em;
}

/* Override the Kendo UI header and footer margin top and bottom Style Issue */
#contentpage {
    padding: 1.5rem;
}

.margin-bottom-10 {
    margin-bottom: 1.0rem;
}

.grid-action-button {
    margin-left: 1px;
    margin-right: 1px;
    padding: .375rem .75rem;
    color: #000;
    background-color: #e4e7eb;
    border-color: #e4e7eb;
    border-radius: .25rem;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    display: inline-block;
}

    .grid-action-button:hover {
        color: #000;
        background-color: #ced3db;
        border-color: #c7cdd5;
        margin-left: 1px;
        margin-right: 1px;
        padding: .375rem .75rem;
        border-radius: .25rem;
        box-sizing: border-box;
        border-width: 1px;
        border-style: solid;
    }

.k-grid-header .k-link:link {
    color: #fff
}

.single-digit-text {
    min-width: 40px !important;
}

.languageSwitcher {
    margin-left: -100px !important;
}
/**fixed numberic textbox right padding**/
.k-numeric-wrap {
    padding: 0 2.9em 0 0;
}
/**TreeGrid label*/
.TSClassReadOnly {
    color: black;
    font-family: Microsoft Sans Serif,'微軟正黑體','微软正黑体' !important;
    font-weight: bold;
}


.fix-button-column-width {
    width: 160px;
    display: inline-block;
}

/*Swal alert text move down a bit for avoiding the icon over the text*/
.sweet-alert > h2 {
    padding-top: 5px;
}

.dialog-btn-danger {
    border-color: #FF394F !important;
    background-color: #FF4961 !important;
    color: #FFF !important;
    font-size: 14px !important;
}

    .dialog-btn-danger:hover {
        border-color: #FF394F !important;
        background-color: #FF4961 !important;
        color: #FFF !important;
        font-size: 14px !important;
    }

.dialog-btn-success {
    border-color: #24CB8C !important;
    background-color: #48D7A4 !important;
    color: #FFF !important;
}

    .dialog-btn-success:hover {
        border-color: #24CB8C !important;
        background-color: #48D7A4 !important;
        color: #FFF !important;
    }

.xlsDownload {
    background-image: url('/Content/Images/DownloadExcelIcon.png');
    background-repeat: no-repeat;
}

    .xlsDownload.smallButton {
        height: 31px;
        width: 37px;
    }

    .xlsDownload.normalButton {
        height: 40px;
        width: 40px;
    }

.pdfDownload {
    background-image: url('/Content/Images/DownloadPdfIcon.png');
    background-repeat: no-repeat;
}

    .pdfDownload.smallButton {
        height: 31px;
        width: 37px;
    }

    .pdfDownload.normalButton {
        height: 40px;
        width: 40px;
    }


/* Call in _MainLayout.cshtml */
/*----- Confirm used in Areas.Main --------------------*/
/*----- Overrider app.min.css, bootstrap.css ----------*/


.card-body {
    flex: 1 1 auto;
    padding: 1.0rem;
}

.bg-light {
    background-color: #e0e0e0 !important;
}

/* Button Related */

.btn-info {
    border-color: #00B971 !important;
    background-color: #00B971 !important;
    color: #FFF;
    margin-left: 4px !important;
    font-size: 14px;
}


.btn-secondary {
    border-color: #FF9200 !important; 
    color: #FFF !important; 
    font-size: 14px;
}

    .btn-secondary, .btn-secondary:active, .btn-secondary:visited {
        background-color: #FF9200 !important; /*orange*/
    }
        .btn-secondary:hover {
            background-color: #e58300 !important; /* orange - darken*/
            border-color: #e58300 !important; 
        }


.btn-success {
    border-color: #00B971 !important; /* green */
    color: #FFF !important;
    font-size: 14px;

}
    .btn-success, .btn-success:active, .btn-success:visited {
        background-color: #00B971 !important; /*green*/
    }

    .btn-success:hover {
        border-color: #00a665 !important;
        background-color: #00a665 !important; /* green darken */
    }

/*
    .btn-success.btn-glow {
        box-shadow: 0 1px 20px 1px rgba(40,208,148,.6)
    }*/




/* Grid Table */

.standardGridHeader th, .grid-header-color, .grid-header-color > a, .grid-header-color > span {
    background-color: #00B971; /* green */
    color: white !important;
}

.k-grid-filter {
    color: white;
    background-color: #00B971 !important; /* green */
}

    .k-grid-filter:hover {
        color: white;
        background-color: #00B971 !important; /* green */
    }

.k-grid-header .k-i-sort-asc-sm, .k-grid-header .k-i-sort-desc-sm, .k-grid-header .k-sort-order {
    color: white;
}

.k-link, .k-pager-wrap .k-link:hover {
    color: #00B971; /* green */
}

/* Title */

.PageTitle {
    font-family: Microsoft Sans Serif,'微軟正黑體','微软正黑体';
    font-size: 20px;
    Color: #464855;
    font-weight: 700;
}

.LabelTitle {
    font-family: 'Microsoft JhengHei', 'Microsoft Sans Serif';
    font-size: 14px;
}

.SubTitle {
    font-family: 'Microsoft JhengHei', 'Microsoft Sans Serif';
    font-size: 16px;
    font-weight:bold;
    color:dimgray;
}

.SubSubTitle {
    font-family: 'Microsoft JhengHei', 'Microsoft Sans Serif';
    font-size: 16px;
    font-weight: normal;
    text-decoration: underline;
    color: dimgray;
}

.Card-Separator {
    border-bottom: 2px solid #e0e0e0;
}

#EntityGroupTreeView .k-state-selected {
    background-color: #fff3d5;
}

#UserGroupTreeView .k-state-selected {
    background-color: #fff3d5;
}