﻿@using Nwcl.DAP.Web.Common;
@using Nwcl.DAP.Web.Areas.Main.Resources.Privilege;
@using Nwcl.DAP.Web.Common.Resources;
@using Nwcl.DAP.Common;
@using Nwcl.DAP.Web.Areas.Main.Controllers;
@using Nwcl.DAP.Web.Common.Attributes;
@using CommonRes = Nwcl.DAP.Web.Common.Resources.CommonResx;


<!-- Renders the partial view containing the script snippet with .NET resource javascript object -->
@Html.RenderResxJSPartial("_ResxJS", "IndexResx", typeof(IndexResx))
@Html.RenderResxJSPartial("_ResxJS", "CommonResx", typeof(CommonResx))
<!-- Renders the inline javascript and style for the view  -->
@Html.InlineScripts("~/Areas/Main/Scripts/Privilege/PrivilegeList.js")
<!--<script src="~/Areas/Main/Scripts/Privilege/Index.js"></script>-->

<section id="horizontal-form-layouts ">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header body-top">
                    <div class="row">
                        <div class="col-md-6 col-12">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" id="openSearch" onclick="openSearchGrid()" class="btn btn-sm btn-info"><i class="ficon ft-search"></i></button>
                            </div>
                        </div>
                        <div class="col-md-6 col-12 text-right">
                            <div class="" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-sm btn-info font-size-larger" disabled="disabled" hidden="hidden" data-toggle="tooltip" data-placement="top" data-original-title="Print">@CommonResx.btnPrint_Text</button>
                                <button type="button" class="btn btn-sm btn-info font-size-larger" id="btnExportList" data-toggle="tooltip" data-placement="top" data-original-title="Export" onclick="exportList()">@CommonResx.btnExport_Text</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-content collpase show">
                    <div class="card-body">
                        <div class="card bg-info text-white body-top" id="search">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class=" row">
                                                    <label class="col-md-3 label-control span-height label-headfont-color" for="Workflow">@CommonResx.lblKeyWords_Text</label>
                                                    <div class="col-md-9">
                                                        <input type="text" id="SearchText" class="form-control border-primary" placeholder="" name="SearchText">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="float-right">
                                            <button type="button" class="btn btn-primary btn-secondary" onclick="searchList()">@CommonResx.btnSearch_Text</button>
                                            <input type="button" class="btn btn-primary btn-secondary" onclick="hideOpenSearchGrid()" value="@CommonResx.btnCancel_Text" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @(Html.Kendo().Grid<Nwcl.DAP.Web.Areas.Main.Models.PrivilegeDetailExtendedViewModel>()
                                                                .Name("PrivilegeGrid")
                                                                .Columns(columns =>
                                                                {
                                                                    columns.Bound(p => p.EntityGroupName).Width(450).Title(@CommonResx.text_dapEntityGroup).HeaderHtmlAttributes(new { @class = "grid-header-color" });
                                                                    columns.Bound(p => p.ProjectName).Width(450).Title(@IndexResx.lbl_ProjectName).HeaderHtmlAttributes(new { @class = "grid-header-color" });
                                                                    columns.Bound(p => p.UserGroupName).Width(450).Title(@CommonResx.text_dapUserGroup).HeaderHtmlAttributes(new { @class = "grid-header-color" });
                                                                    columns.Bound(p => p.UserName).Width(450).Title(@IndexResx.lbl_UserName).HeaderHtmlAttributes(new { @class = "grid-header-color" });
                                                                    columns.Bound(p => p.RoleName).Width(450).Title(@CommonResx.text_dapRole).HeaderHtmlAttributes(new { @class = "grid-header-color" });
                                                                    columns.Bound(p => p.DashboardName).Width(450).Title(@CommonResx.text_dapDashboard).HeaderHtmlAttributes(new { @class = "grid-header-color" });
                                                                }).Sortable()
                                .Excel(e => e.FileName("Privilege.xlsx"))
                                .Filterable()
                                .Editable(editable => { editable.Mode(GridEditMode.InLine).CreateAt(GridInsertRowPosition.Bottom); editable.DisplayDeleteConfirmation(false); })
                                .Pageable(pageable => pageable.Refresh(true)
                                .PageSizes(true)
                                .Messages(o => o.AllPages(CommonRes.KendoPager_AllPages))
                                .Messages(o => o.Display(CommonRes.KendoPager_Display))
                                .Messages(o => o.Empty(CommonRes.KendoPager_Empty))
                                .Messages(o => o.First(CommonRes.KendoPager_First))
                                .Messages(o => o.ItemsPerPage(CommonRes.KendoPager_ItemsPerPage))
                                .Messages(o => o.Last(CommonRes.KendoPager_Last))
                                .Messages(o => o.MorePages(CommonRes.KendoPager_MorePages))
                                .Messages(o => o.Next(CommonRes.KendoPager_Next))
                                .Messages(o => o.Of(CommonRes.KendoPager_Of))
                                .Messages(o => o.Page(CommonRes.KendoPager_Page))
                                .Messages(o => o.Previous(CommonRes.KendoPager_Previous))
                                .Messages(o => o.Refresh(CommonRes.KendoPager_Refresh)))
                                .DataSource(dataSource => dataSource.Ajax()
                                .PageSize(10)
                                .Model(model => { model.Id(p => p.Id); })
                                .Read(read => read.Action("GetPrivilegeDetail", "Privilege")))
                                .Reorderable(reorderable => reorderable.Columns(true))
                                .Resizable(resizable => resizable.Columns(true))
                                .HtmlAttributes(new { @class = "grid-info" })
                        )
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



