﻿@using Nwcl.DAP.Web.Common;
@using Nwcl.DAP.Common;
@using Nwcl.DAP.Web.Areas.Main.Resources.EntityGroup;
@using Nwcl.DAP.Web.Common.Resources;
@using CommonRes = Nwcl.DAP.Web.Common.Resources.CommonResx;
@using Nwcl.DAP.Web.Common.Attributes;
@using Kendo.Mvc.UI.Fluent
@model Nwcl.DAP.Web.Areas.Main.Models.EntityGroupEditExtendedViewModel

<!-- Renders the partial view containing the script snippet with .NET resource javascript object -->
@Html.RenderResxJSPartial("_ResxJS", "EntityGroupResx", typeof(IndexResx))
@Html.RenderResxJSPartial("_ResxJS", "CommonResx", typeof(CommonResx))
<!-- Renders the inline javascript and style for the view  -->
@*@Html.InlineScripts("~/Areas/Main/Scripts/EntityGroup/EditEntityGroup.js")*@
<script src="~/Areas/Main/Scripts/EntityGroup/EditEntityGroup.js"></script>
<style>
    .treeNodeItemDisable {
        font-size: 1.1rem !important;
        color: dimgray;
        border-bottom: 1px dotted dimgray;
    }

    .treeNodeItemEnable {
        font-size: 1.1rem !important;
        color: #00a665;
        padding-left: 10px;
    }

    .treeNodeIcon {
        font-size: 1.2rem !important;
        position: absolute;
        display: inline-block !important;
        left: 2.0em;
        color: #6b6f82;
        padding-left: 5px;
    }
</style>
<input hidden type="text" id="DuplicatePrivilege" />
<input hidden type="text" id="EditEntityGroup_EntityGroupId" value="@Model.Id" />
<input hidden type="text" id="IsEditingTree" />
<span class="SubTitle">@IndexResx.lblName_Text : @Model.EntityGroupName</span>
<form>
    <div class="tabbable tabbable-tabdrop">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" id="base-tab1" data-toggle="tab" aria-controls="tab1"
                   href="#home" aria-expanded="true">@IndexResx.lblTab1</a>
            </li>
            <li>
                <a class="nav-link " id="base-tab2" data-toggle="tab" aria-controls="tab2"
                   href="#tab2" aria-expanded="false">@IndexResx.lblTab2</a>
            </li>
        </ul>
    </div>
    <div class="tab-content tab-border">
        <div role="tabpanel" class="tab-pane active" id="home" aria-expanded="true" aria-labelledby="base-tab1">
            <div class="container-fluid">
                <h4 class="form-section"><i class="la la-pencil-square"></i> @IndexResx.lblTreeTitle</h4>
                @(Html.Kendo().TreeView()
                                                                        .Name("EntityGroupTreeView")
                                                                        .Checkboxes(checkboxes => checkboxes
                                                                            .Name("checkedFiles")

                                                                        )
                                                                        .LoadOnDemand(false)
                                                                        .Events(events => events.Check("onCheck"))
                                                                        .BindTo(Model.entityTreeModel, (NavigationBindingFactory<TreeViewItem> mappings) =>
                                                                        {
                                                                            mappings.For<Nwcl.DAP.Web.Areas.Main.Models.EntityUserGroupTreeExtendedViewModel>
                                                                                (binding => binding.ItemDataBound((item, node) =>
                                                                                {
                                                                                    item.Id = node.NodeCode;
                                                                                    item.Expanded = node.isExpanded;
                                                                                    item.Text = node.NodeName;
                                                                                    item.Checked = node.isChecked;
                                                                                    item.Encoded = false;
                                                                                    item.Text = string.Format("<div class='{0}'>{1}</div>", ((node.NodeCode.Length <= 4) ? ("treeNodeItemDisable") : ("treeNodeItemEnable")), node.NodeName);
                                                                                    item.SpriteCssClasses = ((node.NodeCode.Length <= 4) ? ("") : ("treeNodeIcon la la-th-list"));
                                                                                })
                                                                            .Children(node => node.child));
                                                                        }))

                <input type="hidden" id="entityGroupId" value='@Model.Id' />
                <input type="hidden" id="selectedIds" />
                <div class="row text-height">
                    <div class="col-md-offset-2 col-md-6">
                        @if (IPrincipalExtensions.IsTargetActionAllowed(User, "EntityGroupTemplate", "Editor"))
                        {
                            <input id="btnSave" onclick="clickSave()" type="button" value="@CommonResx.btnSave_Text" class="btn btn-success k-button ShortBtn" />
                        }
                        <input id="btnCancel" onclick="ClickReturn()" type="button" value="@CommonResx.btnBack_Text" class="btn btn-success k-button ShortBtn" />
                        <br /><br />
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="tab2" aria-labelledby="base-tab2">
            <div class="container-fluid">
                <input hidden type="text" id="DuplicateId" />
                <input hidden type="text" id="UserGroup" />
                <input hidden type="text" id="Role" />
                <section id="horizontal-form-layouts ">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="py-1">
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                            <button id="NewAdd" type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top">@CommonResx.btnAdd_Text</button>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12 text-right">
                                        <div class="" role="group" aria-label="Basic example">
                                            <button type="button" class="btn btn-success" disabled="disabled" hidden="hidden" data-toggle="tooltip" data-placement="top" data-original-title="Print">@CommonResx.btnPrint_Text</button>
                                            <button type="button" class="btn btn-success" id="btnExportList" data-toggle="tooltip" data-placement="top" data-original-title="Export" onclick="exportList()" disabled="disabled" hidden="hidden">@CommonResx.btnExport_Text</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="py-1">
                                @(Html.Kendo().Grid<Nwcl.DAP.Web.Areas.Main.Models.EntityGroupUserGroupRoleExtendedViewModel>()
                                                                                                                                    .Name("EntityGroupUserGroupRole")
                                                                                                                                    .Columns(columns =>
                                                                                                                                    {
                                                                                                                                        columns.Template(@<text></text>).ClientTemplate("<div class='fix-button-column-width'><a role='button' class='grid-action-button GridRowEdit btn-success text-white'><span class='la la-edit' title='" + @CommonResx.btnEdit_Text + "'></span></a><a role='button' class='grid-action-button displayNone GridRowSave btn-success'><span class='la la-save' title='" + @CommonResx.btnSave_Text + "'></span></a><a role='button' class='grid-action-button GridRowDelete btn-secondary text-white'><span class='la la-trash' title='" + @CommonResx.btnDelete_Text + "'></span></a><a role='button' class='grid-action-button displayNone GridRowCancel btn-secondary text-white'><span class='la la-ban' title='" + @CommonResx.btnCancel_Text + "'></span></a><input type='hidden' value='#:Id#' /></div>").Width(80).Title(@CommonResx.lblOperation_Text).HeaderHtmlAttributes(new { @class = "grid-header-color" });
                                                                                                            columns.Bound(p => p.EntityGroupId).Hidden().HeaderHtmlAttributes(new { @class = "grid-header-color" }).HtmlAttributes(new { @class = "k-dirty-cell" });
                                                                                                            columns.ForeignKey(p => p.UserGroupId, (System.Collections.IEnumerable)ViewData["usergroups"], "Id", "UserGroupName").Width(150).Title("<span class='grid-headfont-color'>" + @IndexResx.lblUserGroup + "</span>").HeaderHtmlAttributes(new { @class = "grid-header-color" });
                                                                                                            columns.ForeignKey(p => p.RoleId, (System.Collections.IEnumerable)ViewData["roles"], "Id", "RoleName").Width(150).Title("<span class='grid-headfont-color'>" + @IndexResx.lblRole + "</span>").HeaderHtmlAttributes(new { @class = "grid-header-color" });

                                                                                                        }).Sortable()
.Excel(e => e.FileName("EntityGroupUserGroupRole.xlsx"))
.Filterable()
.Editable(editable => { editable.Mode(GridEditMode.InLine).CreateAt(GridInsertRowPosition.Bottom); editable.DisplayDeleteConfirmation(false); })
.Pageable(pageable => pageable.Refresh(true)
.PageSizes(true)
.Messages(o => o.AllPages(CommonRes.KendoPager_AllPages))
.Messages(o => o.Display(CommonRes.KendoPager_Display))
.Messages(o => o.Empty(CommonRes.KendoPager_Empty))
.Messages(o => o.First(CommonRes.KendoPager_First))
.Messages(o => o.ItemsPerPage(CommonRes.KendoPager_ItemsPerPage))
.Messages(o => o.Last(CommonRes.KendoPager_Last))
.Messages(o => o.MorePages(CommonRes.KendoPager_MorePages))
.Messages(o => o.Next(CommonRes.KendoPager_Next))
.Messages(o => o.Of(CommonRes.KendoPager_Of))
.Messages(o => o.Page(CommonRes.KendoPager_Page))
.Messages(o => o.Previous(CommonRes.KendoPager_Previous))
.Messages(o => o.Refresh(CommonRes.KendoPager_Refresh)))
.Events(e => e.Edit("onEdit"))
.DataSource(dataSource => dataSource.Ajax()
.PageSize(10)
.Model(model => { model.Id(p => p.Id); })
.Read(read => read.Action("GetEntityGroupUserGroupRoleListByEntityGroupId", "EntityGroup", new { entityGroupId = @Model.Id }))
.Create(create => create.Action("AddEntityGroupUserGroupRole", "EntityGroup"))
.Update(update => update.Action("EditEntityGroupUserGroupRole", "EntityGroup"))
.Destroy(delete => delete.Action("DeleteEntityGroupUserGroupRole", "EntityGroup")))
.HtmlAttributes(new { @class = "grid-info" })
                                )
                            </div>
                            <div class="py-1">
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <input id="btnCancelPrivilege" onclick="ClickReturn()" type="button" value="@CommonResx.btnBack_Text" class="btn btn-success" />
                                        <br /><br />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>




</form>