﻿@using Nwcl.DAP.Web.Common;
@using Nwcl.DAP.Web.Areas.Main.Resources.Company;
@using Nwcl.DAP.Web.Common.Resources;
@using Nwcl.DAP.Common;
@using Nwcl.DAP.Web.Areas.Main.Controllers;
@using Nwcl.DAP.Web.Common.Attributes;
@using CommonRes = Nwcl.DAP.Web.Common.Resources.CommonResx;


<!-- Renders the partial view containing the script snippet with .NET resource javascript object -->
@Html.RenderResxJSPartial("_ResxJS", "CompanyResx", typeof(IndexResx))
@Html.RenderResxJSPartial("_ResxJS", "CommonResx", typeof(CommonResx))
<!-- Renders the inline javascript and style for the view  -->
@Html.InlineScripts("~/Areas/Main/Scripts/Company/Index.js")
<input hidden type="text" id="DuplicateName" />
<section id="horizontal-form-layouts ">
    <div class="row">
        <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6 col-12">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button id="NewAdd" type="button" class="btn btn-success" data-toggle="tooltip" data-placement="top">@CommonResx.btnAdd_Text</button>
                                <button type="button" id="openSearch" onclick="openSearchGrid()" class="btn btn-info"><i class="ficon ft-search"></i></button>
                            </div>
                        </div>
                        <div class="col-md-6 col-12 text-right">
                            <div class="" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-info" disabled="disabled" hidden="hidden" data-toggle="tooltip" data-placement="top" data-original-title="Print">@CommonResx.btnPrint_Text</button>
                                <button type="button" class="btn btn-info" id="btnExportList" data-toggle="tooltip" data-placement="top" data-original-title="Export" onclick="exportList()">@CommonResx.btnExport_Text</button>
                            </div>
                        </div>
                    </div>
                    <div class="py-1">
                        <div class="card bg-info text-white" id="search">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class=" row">
                                                    <label class="col-md-3 label-control span-height label-headfont-color" for="Workflow">@CommonResx.lblKeyWords_Text</label>
                                                    <div class="col-md-9">
                                                        <input type="text" id="SearchText" class="form-control border-primary" placeholder="" name="SearchText">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="float-right">
                                            <button type="button" class="btn btn-secondary" onclick="searchList()">@CommonResx.btnSearch_Text</button>
                                            <input type="button" class="btn btn-secondary" onclick="hideOpenSearchGrid()" value="@CommonResx.btnCancel_Text" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @(Html.Kendo().Grid<Nwcl.DAP.Web.Areas.Main.Models.CompanyExtendedViewModel>()
                                .Name("CompanyGrid")
                                .Columns(columns =>
                                {
                                    columns.Template(@<text></text>).ClientTemplate("<a role='button' class='grid-action-button GridRowEdit btn-success text-white'><span class='la la-edit' title='" + CommonResx.btnEdit_Text + "'></span></a><a role='button' class='grid-action-button displayNone GridRowSave btn-success text-white'><span class='la la-save' title='" + CommonResx.btnSave_Text + "'></span></a><a role='button' class='grid-action-button GridRowDelete btn-secondary text-white'><span class='la la-trash' title='" + CommonResx.btnDelete_Text + "'></span></a><a role='button' class='grid-action-button displayNone GridRowCancel btn-secondary text-white'><span class='la la-ban' title='" + CommonResx.btnCancel_Text + "'></span></a><input type='hidden' value='#:Id#' /></div>").Width(110).Locked(true).Lockable(false).Title(@CommonResx.lblOperation_Text).HeaderHtmlAttributes(new { @class = "grid-header-color" });
                                    columns.Bound(p => p.CompanyName).Title(@IndexResx.lblCompanyName_Text).HeaderHtmlAttributes(new { @class = "grid-header-color" });
                                    columns.ForeignKey(p => p.CityCode, (System.Collections.IEnumerable)ViewData["cities"], "CityCode", "CityName" + CultureHelper.GetCurrentCultureFieldLanguage()).Title(@IndexResx.lblCityName_Text).HeaderHtmlAttributes(new { @class = "grid-header-color" });
                                    columns.Bound(p => p.CityName).Hidden().Title(@IndexResx.lblCompanyName_Text).HeaderHtmlAttributes(new { @class = "grid-header-color" });
                                }).Sortable()
        .Excel(e => e.FileName("Company.xlsx"))
        .Filterable()
        .Editable(editable => { editable.Mode(GridEditMode.InLine).CreateAt(GridInsertRowPosition.Bottom); editable.DisplayDeleteConfirmation(false); })
        .Pageable(pageable => pageable.Refresh(true)
                                    .PageSizes(true)
                                    .Messages(o => o.AllPages(CommonRes.KendoPager_AllPages))
                                    .Messages(o => o.Display(CommonRes.KendoPager_Display))
                                    .Messages(o => o.Empty(CommonRes.KendoPager_Empty))
                                    .Messages(o => o.First(CommonRes.KendoPager_First))
                                    .Messages(o => o.ItemsPerPage(CommonRes.KendoPager_ItemsPerPage))
                                    .Messages(o => o.Last(CommonRes.KendoPager_Last))
                                    .Messages(o => o.MorePages(CommonRes.KendoPager_MorePages))
                                    .Messages(o => o.Next(CommonRes.KendoPager_Next))
                                    .Messages(o => o.Of(CommonRes.KendoPager_Of))
                                    .Messages(o => o.Page(CommonRes.KendoPager_Page))
                                    .Messages(o => o.Previous(CommonRes.KendoPager_Previous))
                                    .Messages(o => o.Refresh(CommonRes.KendoPager_Refresh)))
        .Events(e => e.Edit("onEdit"))
        .DataSource(dataSource => dataSource.Ajax()
                                            .PageSize(10)
                                            .Model(model => { model.Id(p => p.Id); })
                                            .Read(read => read.Action("GetCompanyList", "Company"))
                                            .Create(create => create.Action("AddCompany", "Company"))
                                            .Update(update => update.Action("EditCompany", "Company"))
                                            .Destroy(delete => delete.Action("DeleteCompany", "Company")))
                                            .Reorderable(reorderable => reorderable.Columns(true))
                                            .Resizable(resizable => resizable.Columns(true))
        .HtmlAttributes(new { @class = "grid-info" })
                        )
                    </div>
        </div>
    </div>
</section>



