﻿@using Nwcl.DAP.Web.Common;
@using Nwcl.DAP.Common;
@using Nwcl.DAP.Web.Areas.Main.Resources.Role;
@using Nwcl.DAP.Web.Common.Resources;
@using CommonRes = Nwcl.DAP.Web.Common.Resources.CommonResx;
@using Nwcl.DAP.Web.Common.Attributes;
@model Nwcl.DAP.Web.Areas.Main.Models.RoleExtendedViewModel

<!-- Renders the partial view containing the script snippet with .NET resource javascript object -->
@Html.RenderResxJSPartial("_ResxJS", "RoleResx", typeof(IndexResx))
@Html.RenderResxJSPartial("_ResxJS", "CommonResx", typeof(CommonResx))
<!-- Renders the inline javascript and style for the view  -->
@Html.InlineScripts("~/Areas/Main/Scripts/Role/EditRole.js")
<!--<script src="~/Areas/Main/Scripts/Role/EditRole.js"></script>-->

<div class="SubTitle py-1">@CommonResx.text_dapRole : @Model.RoleName </div>
<input hidden type="text" id="EditRole_RoleId" value="@Model.Id" />
<input hidden type="text" id="DuplicatePrivilege" />
<input hidden type="text" id="DuplicateDashboard" />
<form>
    <div class="tabbable tabbable-tabdrop">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" id="base-tab1" data-toggle="tab" aria-controls="tab1"
                   href="#home" aria-expanded="true">@CommonResx.text_dapDashboard</a>
            </li>
            <li>
                <a class="nav-link " id="base-tab2" data-toggle="tab" aria-controls="tab2"
                   href="#tab2" aria-expanded="false">@IndexResx.lblTab2</a>
            </li>
        </ul>
    </div>
    <div class="tab-content tab-border">
        <div role="tabpanel" class="tab-pane active" id="home" aria-expanded="true" aria-labelledby="base-tab1">
            <div class="container-fluid">
                <input hidden type="text" id="DuplicateId" />
                <input hidden type="text" id="UserGroup" />
                <input hidden type="text" id="Role" />
                <section id="horizontal-form-layouts ">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="py-1">
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                            <button id="NewAddDashboard" type="button" class="btn btn-success" data-toggle="tooltip" data-placement="top">@CommonResx.btnAdd_Text</button>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12 text-right">
                                        <div class="" role="group" aria-label="Basic example">
                                            <button type="button" class="btn btn-info" disabled="disabled" hidden="hidden" data-toggle="tooltip" data-placement="top" data-original-title="Print">@CommonResx.btnPrint_Text</button>
                                            <button type="button" class="btn btn-sm btn-info font-size-larger" id="btnExportList" data-toggle="tooltip" data-placement="top" data-original-title="Export" onclick="exportList()" disabled="disabled" hidden="hidden">@CommonResx.btnExport_Text</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="py-1">
                                @(Html.Kendo().Grid<Nwcl.DAP.Web.Areas.Main.Models.RoleDashboardExtendedViewModel>()
                                                                                                                    .Name("RoleDashboardGrid")
                                                                                                                    .Columns(columns =>
                                                                                                                    {
                                                                                                                        columns.Template(@<text></text>).ClientTemplate("<div class='fix-button-column-width'><a role='button' class='grid-action-button GridRowEdit btn-success text-white'><span class='la la-edit' title='" + @CommonResx.btnEdit_Text + "'></span></a><a role='button' class='grid-action-button displayNone GridRowSave btn-success text-white'><span class='la la-save' title='" + @CommonResx.btnSave_Text + "'></span></a><a role='button' class='grid-action-button GridRowDelete btn-secondary text-white'><span class='la la-trash' title='" + @CommonResx.btnDelete_Text + "'></span></a><a role='button' class='grid-action-button displayNone GridRowCancel btn-secondary text-white'><span class='la la-ban' title='" + @CommonResx.btnCancel_Text + "'></span></a><input type='hidden' value='#:Id#' /></div>").Width(80).Title(@CommonResx.lblOperation_Text).HeaderHtmlAttributes(new { @class = "grid-header-color" });
                                                                                                        columns.Bound(p => p.RoleId).Hidden().HeaderHtmlAttributes(new { @class = "grid-header-color" }).HtmlAttributes(new { @class = "k-dirty-cell" });
                                                                                                        columns.ForeignKey(p => p.DashboardId, (System.Collections.IEnumerable)ViewData["dashboards"], "Id", "DashboardName" + CultureHelper.GetCurrentCultureFieldLanguage()).Title("<span class='grid-headfont-color'>" + CommonResx.text_dapDashboard + "</span>").HeaderHtmlAttributes(new { @class = "grid-header-color" });

                                                                                                    }).Sortable()
.Excel(e => e.FileName("RoleDashboard.xlsx"))
.Filterable()
.Editable(editable => { editable.Mode(GridEditMode.InLine).CreateAt(GridInsertRowPosition.Bottom); editable.DisplayDeleteConfirmation(false); })
.Pageable(pageable => pageable.Refresh(true)
.PageSizes(true)
.Messages(o => o.AllPages(CommonRes.KendoPager_AllPages))
.Messages(o => o.Display(CommonRes.KendoPager_Display))
.Messages(o => o.Empty(CommonRes.KendoPager_Empty))
.Messages(o => o.First(CommonRes.KendoPager_First))
.Messages(o => o.ItemsPerPage(CommonRes.KendoPager_ItemsPerPage))
.Messages(o => o.Last(CommonRes.KendoPager_Last))
.Messages(o => o.MorePages(CommonRes.KendoPager_MorePages))
.Messages(o => o.Next(CommonRes.KendoPager_Next))
.Messages(o => o.Of(CommonRes.KendoPager_Of))
.Messages(o => o.Page(CommonRes.KendoPager_Page))
.Messages(o => o.Previous(CommonRes.KendoPager_Previous))
.Messages(o => o.Refresh(CommonRes.KendoPager_Refresh)))
.Events(e => e.Edit("onEdit"))
.DataSource(dataSource => dataSource.Ajax()
.PageSize(10)
.Model(model => { model.Id(p => p.Id); })
.Read(read => read.Action("GetRoleDashboardListByRoleId", "Role", new { roleId = @Model.Id }))
.Create(create => create.Action("AddRoleDashboard", "Role"))
.Update(update => update.Action("EditRoleDashboard", "Role"))
.Destroy(delete => delete.Action("DeleteRoleDashboard", "Role")))
.HtmlAttributes(new { @class = "grid-info" })
                                )

                            </div>
                            <div class="py-1">
                                <div class="row">
                                    <div class="col-md-offset-2 col-md-6">
                                        <input id="btnBack1" onclick="ClickReturn()" type="button" value="@CommonResx.btnBack_Text" class="btn btn-secondary" />
                                        <br /><br />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </section>
            </div>
        </div>
        <div class="tab-pane" id="tab2" aria-labelledby="base-tab2">
            <div class="container-fluid">
                <input hidden type="text" id="DuplicateId" />
                <input hidden type="text" id="UserGroup" />
                <input hidden type="text" id="EntityGroup" />
                <section id="horizontal-form-layouts ">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="py-1">
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                            <button id="NewAddPrivilege" type="button" class="btn btn-success" data-toggle="tooltip" data-placement="top">@CommonResx.btnAdd_Text</button>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12 text-right">
                                        <div class="" role="group" aria-label="Basic example">
                                            <button type="button" class="btn btn-info" disabled="disabled" hidden="hidden" data-toggle="tooltip" data-placement="top" data-original-title="Print">@CommonResx.btnPrint_Text</button>
                                            <!--<button type="button" class="btn btn-info" id="btnExportList" data-toggle="tooltip" data-placement="top" data-original-title="Export" onclick="exportList()">@CommonResx.btnExport_Text</button>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="py-1">
                                @(Html.Kendo().Grid<Nwcl.DAP.Web.Areas.Main.Models.RoleEntityGroupUserGroupExtendedViewModel>()
                                                                                                    .Name("EntityGroupUserGroupRole")
                                                                                                    .Columns(columns =>
                                                                                                    {
                                                                                                        columns.Template(@<text></text>).ClientTemplate("<div class='fix-button-column-width'><a role='button' class='grid-action-button GridRowEdit btn-success text-white'><span class='la la-edit' title='" + @CommonResx.btnEdit_Text + "'></span></a><a role='button' class='grid-action-button displayNone GridRowSave btn-success text-white'><span class='la la-save' title='" + @CommonResx.btnSave_Text + "'></span></a><a role='button' class='grid-action-button GridRowDelete btn-secondary text-white'><span class='la la-trash' title='" + @CommonResx.btnDelete_Text + "'></span></a><a role='button' class='grid-action-button displayNone GridRowCancel btn-secondary text-white'><span class='la la-ban' title='" + @CommonResx.btnCancel_Text + "'></span></a><input type='hidden' value='#:Id#' /></div>").Width(80).Title(@CommonResx.lblOperation_Text).HeaderHtmlAttributes(new { @class = "grid-header-color" });
                                                                            columns.Bound(p => p.RoleId).Hidden().HeaderHtmlAttributes(new { @class = "grid-header-color" }).HtmlAttributes(new { @class = "k-dirty-cell" });
                                                                            columns.ForeignKey(p => p.EntityGroupId, (System.Collections.IEnumerable)ViewData["entitygroups"], "Id", "EntityGroupName").Title("<span class='grid-headfont-color'>" + CommonResx.text_dapEntityGroup + "</span>").HeaderHtmlAttributes(new { @class = "grid-header-color" });
                                                                            columns.ForeignKey(p => p.UserGroupId, (System.Collections.IEnumerable)ViewData["usergroups"], "Id", "UserGroupName").Title("<span class='grid-headfont-color'>" + CommonResx.text_dapUserGroup + "</span>").HeaderHtmlAttributes(new { @class = "grid-header-color" });

                                                                        }).Sortable()
.Excel(e => e.FileName("EntityGroupUserGroupRole.xlsx"))
.Filterable()
.Editable(editable => { editable.Mode(GridEditMode.InLine).CreateAt(GridInsertRowPosition.Bottom); editable.DisplayDeleteConfirmation(false); })
.Pageable(pageable => pageable.Refresh(true)
.PageSizes(true)
.Messages(o => o.AllPages(CommonRes.KendoPager_AllPages))
.Messages(o => o.Display(CommonRes.KendoPager_Display))
.Messages(o => o.Empty(CommonRes.KendoPager_Empty))
.Messages(o => o.First(CommonRes.KendoPager_First))
.Messages(o => o.ItemsPerPage(CommonRes.KendoPager_ItemsPerPage))
.Messages(o => o.Last(CommonRes.KendoPager_Last))
.Messages(o => o.MorePages(CommonRes.KendoPager_MorePages))
.Messages(o => o.Next(CommonRes.KendoPager_Next))
.Messages(o => o.Of(CommonRes.KendoPager_Of))
.Messages(o => o.Page(CommonRes.KendoPager_Page))
.Messages(o => o.Previous(CommonRes.KendoPager_Previous))
.Messages(o => o.Refresh(CommonRes.KendoPager_Refresh)))
.Events(e => e.Edit("onEdit"))
.DataSource(dataSource => dataSource.Ajax()
.PageSize(10)
.Model(model => { model.Id(p => p.Id); })
.Read(read => read.Action("GetEntityGroupUserGroupRoleListByRoleId", "Role", new { roleId = @Model.Id }))
.Create(create => create.Action("AddEntityGroupUserGroupRole", "Role"))
.Update(update => update.Action("EditEntityGroupUserGroupRole", "Role"))
.Destroy(delete => delete.Action("DeleteEntityGroupUserGroupRole", "Role")))
.HtmlAttributes(new { @class = "grid-info" })
                                )

                            </div>
                            <div class="py-1">
                                <div class="row">
                                    <div class="col-md-offset-2 col-md-6">
                                        <input id="btnBack2" onclick="ClickReturn()" type="button" value="@CommonResx.btnBack_Text" class="btn btn-success" />
                                        <br /><br />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </section>
            </div>
        </div>
    </div>




</form>